{% extends 'layout.html' %}
{% load static %}

{% block content %}

    {%load plotly_dash%}
    <h1>Selection Menu</h1>
    {% if active_order %}
    <div class="card text-dark bg-light mb-3" style="max-width: 30rem;">
        <div class="row">
            <div class="card-header">Active Order</div>
            <div class="card-body">
                <h5 class="card-title">Order Id: {{ active_order.id }}</h5>
                <table>
                    <tr>
                        <td>Order ID:</td>
                        <td>{{ active_order.id }}</td>
                    </tr>
                    <tr>
                        <td>Order status:</td>
                        <td>{{ order_status }}</td>
                    </tr>                        <tr>
                        <td>Order time:</td>
                        <td>{{ active_order.order_time }}</td>
                    </tr>
                    <tr>
                        <td>Latitude:</td>
                        <td>{{ active_order.lat }}</td>
                    </tr>
                    <tr>
                        <td>Longitude:</td>
                        <td>{{ active_order.lon }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <h1> You searched for a non-existing order ID.</h1>
        <h4> Try entering a round number between {{ min }} and {{max}}</h4>
    {% endif %}

  
{% endblock %}