{% extends 'base.html' %}
{% load static %}

{% block content %}
    {%load plotly_dash%}
    <h1>Selection Menu</h1>
    <h2>{{ active_order.id }}</h2>
    <!--
    <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width:100%">
    {%plotly_app name='SimpleExample' ratio=0.65 %}
    </div>
    -->

    <div class="rowx">
        <div class="column1">
            <h3>Option 1:</h3>
            <h4>Best restaurant..</h4>
            <p>Expected delivery time</p>
            <p>Expected preperation time</p>
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Select Restaurant</button>
            </form>
        </div>
        <div class="column2">
            <h3>Option 2:</h3>
            <h4>Second best restaurant..</h4>
            <p>Expected delivery time</p>
            <p>Expected preperation time</p>
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Select Restaurant</button>
            </form>
        </div>
        <div class="column3">
            <h3>Option 3:</h3>
            <h4>Third best restaurant..</h4>
            <p>Expected delivery time</p>
            <p>Expected preperation time</p>
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Select Restaurant</button>
            </form>
        </div>
    </div>

  
{% endblock %}