{% extends 'layout.html' %}
{% load static %}

{% block content %}

    {%load plotly_dash%}
    <h1>Selection Menu</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-dark bg-warning mb-3" style="max-width: 30rem;">
                <div class="card-header">Active Order</div>
                <div class="card-body">
                     <div class= "row g-0">
                        <h5 class="card-title">Order Id: {{ active_order.id }}</h5>
                        <div class="col-md-8"> 
                            <table>
                                <tr>
                                    <td>Order status:</td>
                                    <td>{{ active_order.order_status }}</td>
                                </tr>
                                <tr>
                                    <td>Order time:</td>
                                    <td>{{ active_order.order_time }}</td>
                                </tr>
                                <tr>
                                    <td>Latitude:</td>
                                    <td>{{ active_order.lat }}</td>
                                </tr>
                                <tr>
                                    <td>Longitude:</td>
                                    <td>{{ active_order.lon }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table>
                                <tr>
                                    <td>Basket:</td>
                                    <td></td>
                                </tr>
                                
                                {% for tuple in basket %}
                                <tr>
                                    {% for item in tuple %}
                                    <td>{{ item }}</td>
                                    {% endfor%}
                                </tr>
                                {% endfor %}  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-info mb-3" style="max-width: 28rem;">
                <div class="card-header">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                          Restaurant information form:
                        </button>
                        <ul class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                            {% for restaurant in all_restaurants %}
                            <form action="" method="post">
                                <li><a class="dropdown-item" href=/restaurant_info/{{restaurant.id}}>{{ restaurant.id }}</a></li>
                            </form>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class = "card-body">
                    <h5 class = "card-title">Restaurant: {{ restaurant.id }}</h5>
                    <div class="col-md-8">
                        <table>
                            <tr>
                                <td>Latitude:</td>
                                <td>{{ restaurant.lat }}</td>
                            </tr>
                            <tr>
                                <td>Longitude:</td>
                                <td>{{ restaurant.lon }}</td>
                            </tr>
                            <tr>
                                <td>Capacity:</td>
                                <td>{{ restaurant.pizza_parallel }}</td>
                            </tr>
                            <tr>
                                <td>Production time:</td>
                                <td>{{ restaurant.pizza_production_minutes }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table>
                            <tr>
                                <td>Opening hours:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Orders in preparation:</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width:100%">
    {%plotly_app name='SimpleExample' ratio=0.65 %}
    </div>
    -->

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Option: 1</div>
                <div class="card-body">
                    <h5>Restaurant {{option1}}</h5>
                    <p class="card-text">Delivery time: {{ results.first_duration_restaurant }}</p>
                    <p class="card-text">Preparation time: {{ results.first_restaurant_production_time }}</p>
                    <a href=/restaurant_selection/1>
                        <button class="btn btn-primary" type="submit" >Select Restaurant</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Option: 2</div>
                <div class="card-body">
                    <h5>Restaurant {{option2}}</h5>
                    <p class="card-text">Delivery time: {{ results.second_duration_restaurant }}</p>
                    <p class="card-text">Preparation time: {{ results.second_restaurant_production_time }}</p>
                    <a href="/restaurant_selection/2">
                        <button class="btn btn-primary" type="submit" >Select Restaurant</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Option: 3</div>
                <div class="card-body">
                    <h5>Restaurant {{option3}}</h5>
                    <p class="card-text">Delivery time: {{ results.third_duration_restaurant }}</p>
                    <p class="card-text">Preparation time: {{ results.third_restaurant_production_time }}</p>
                    <a href="/restaurant_selection/3">
                        <button class="btn btn-primary" type="submit" >Select Restaurant</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

  
{% endblock %}